body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  background-color: #020b21;
}

.container {
  margin: 0 auto;
  padding: 10px;
  background: #fff;
}

footer {
  font-size: 13px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
  color:#0083ff;
  bottom: 0;
        position: fixed;
        width: 90%;
        text-align: center;
}

.resultado {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  color:#333;
  background-color: #fff;
}

.resultados-table {
  margin: 0 auto;
}

.janelaresultados {
    display: inline-grid;
    justify-content: start;
    justify-items: start;
    align-items: stretch;
    position: fixed;
    width: 100%;
    max-width: 50%;
    margin-left: 250px;
    align-content: stretch;
    float: left;
}


#resultados {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
}

#resultados li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 15px;
}

#resultados li:last-child {
  margin-bottom: 0;
  margin: 15px 15px 15px auto;
}

#total {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#instalacao_cidade {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#instalacao_cidade label {
  margin-right: 0;
}

#quadro {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: lightgray;
}

form {
  display: flex;
  flex-direction: row;
  width: 350px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: baseline;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  button {
    font-size: 14px;
    padding: 10px 15px;
  }

  label,
  input,
  select {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  
  footer {
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
  color:#0083ff;
  bottom: 0;
        position: fixed;
        width: 90%;
        text-align: center;
}

  label,
  input,
  select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 32px;
}

h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: stretch;
  width: 350px;
}

label {
  font-weight: normal;
  text-align: left;
  margin-bottom: 5px;
  font-size: 15px;
}

input[type="number"]{
  font-size: 16px;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 100%;
  background-color: #f9f9f9;
  color:#333;
}

select {
  font-size: 16px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 55%;
  max-width: 100%;
  background-color: #006DD2;
  color: #ddd;
}

button[type="button"] {
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 5px;
  transition: background-color 0.2s ease;
  display: inline-block;
}

button[type="button"]:hover {
  background-color: #3e8e41;
}

button[type="button2"] {
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  background-color: #0083ff;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease;
  display: inline-block;
}

button[type="button2"]:hover {
  background-color: #007bef;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 5px;
    padding: initial;
    border: initial;
}

button[type="button3"] {
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease;
  display: inline-block;
}

button[type="button3"]:hover {
  background-color: #c82333;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 5px;
    padding: initial;
    border: initial;
}
